
@{
    Layout = null;
}

<div>
    <textarea class="TextArea" id="answer" data-itemId="@ViewBag.itemId" data-url="@Url.Action("AddAnswer")"></textarea>
    <button id="answerbtn">Submit Answer</button>
</div>