@model QaProject.Models.AddingAnswerViewModel
@{
    Layout = null;
}

<div class="addAnswer">
    <textarea class="TextArea" id="answer" data-itemId="@Model.itemId" data-url="@Url.Action("AddAnswer")"></textarea>
    <button id="answerbtn">Submit Answer</button>
</div>
