@model QaProject.Models.AddingCommentViewModel
@{ 
    Layout = null;
}


<div>
    <textarea class="TextArea" id="Comment" data-itemid="@Model.itemId" data-itemtype="@Model.itemType" data-url="@Url.Action("AddComment")"></textarea>
    <button id="commentbtn">Add Comment</button>
</div>

<script>
     
</script>