@model QaProject.Models.Comment
@{
    Layout = null;
}

<div class="Comment">
    <div class="Comment_Content">@Model.Content</div>
    <div class="Comment_AuthorCtn">
        <div class="Comment_Author">@Model.Owner.UserName</div>
        <div class="Comment_Date">Posted on:@Model.PostedOn</div>
    </div>
</div>